#!/bin/bash -login
########## Define Resources Needed with SBATCH Lines ##########
#SBATCH --time=48:00:00
#SBATCH --job-name name=boolean_calculator+point_rate={{ point_rate }}+sequence_rate={{ sequence_rate }}+replicate={{ replicate }}
#SBATCH --output="/mnt/home/%u/{{ time }}/boolean_calculator+point_rate={{ point_rate }}+sequence_rate={{ sequence_rate }}+replicate={{ replicate }}+ext=.log"
#SBATCH --mem=8G
#SBATCH --ntasks 10
#SBATCH --cpus-per-task 1
#SBATCH --mail-type=FAIL
# No --mail-user, the default value is the submitting user
#SBATCH --exclude=csn-002,amr-250
# Send interrupt when within 5 minutes of end time.
#SBATCH --signal=SIGINT@300
# Job may be requeued after node failure.
#SBATCH --requeue

################################################################################
echo
echo "running boolean-calculator.slurm.sh"
echo "-------------------------------"
################################################################################

REPLICATE_NAME="point_rate={{ point_rate }}+sequence_rate={{ sequence_rate }}+replicate={{ replicate }}"

module purge
module load git/2.27.0

mkdir ${REPLICATE_NAME}
cd ${REPLICATE_NAME}

mkdir data

git clone https://github.com/mmore500/signalgp-lite.git --recursive --depth=1 --branch=demos --shallow-submodules

singularity exec docker://mmore500/signalgp-lite:GITHUB_ACTION_66 make opt -C signalgp-lite/demos/boolean-calculator

cp signalgp-lite/demos/boolean-calculator/test-boolean-calculator.out data/
cp signalgp-lite/demos/boolean-calculator/testing_set_prefix.json data/
cp signalgp-lite/demos/boolean-calculator/training_set_prefix.json data/

singularity exec docker://mmore500/signalgp-lite:GITHUB_ACTION_66 ./test-boolean-calculator.out -UPDATES "{{ 10 if seed < 1000 else updates }}" -LOGGING "1" \
    -LOGGING_FILENAME "${REPLICATE_NAME}" \
    -SGPL_POINT_MUTATION_RATE "{{ point_rate }}" -SGPL_SEQUENCE_DEFECT_RATE "{{ sequence_rate }}" \
    -SEED "{{ seed }}"

